@import "tailwindcss";

@theme inline {
  --font-montserrat: var(--font-montserrat);
  --font-simonetta: var(--font-simonetta);
  --font-robotoCondensed: var(--font-roboto-condensed);
  --font-kadwa: var(--font-kadwa);
  --font-jersey10: var(--font-jersey-10);
  --font-inriaSerif: var(--font-inria-serif);
  --font-albertSans: var(--font-albert-sans);
  --font-alanSans: var(--font-alan-sans);
  --font-kameron: var(--font-kameron);
  --font-kalam: var(--font-kalam);
  --font-alegreyaSansSC: var(--font-alegreya-sans-sc);
  --font-alice: var(--font-alice);
}